{{ define "header" }}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AppVers.io</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.13.1/js/all.js"></script>
  <script defer src="/_vercel/insights/script.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<script>
  function changeFormat(type) {
    var searchParams = new URLSearchParams(window.location.search);
    switch (type) {
      case "card": 
        searchParams.set("format", "pretty");
        break;
      case "table":
        searchParams.set("format", "table");
        break;
      case "json":
        searchParams.set("format", "json");
        break;
    }
    window.location.search = searchParams.toString();
  }
</script>
{{ end }}
