{{ define "tableBody" }}
{{ range .AndroidApps }}
  <tr>
    <td>
      <span class="icon is-medium is-left">
        <i class="fab fa-android fa-lg"></i>
      </span>
    </td>
    <td>
      <figure class="image is-32x32">
        <img class="is-rounded" src="{{ .ImageSrc }}">
      </figure>
    </td>
    <td>
      <a href="{{ .Url }}" class="has-text-dark">
        {{ .Id }} 
        <span class="icon is-small">
          <i class="fas fa-external-link-alt"></i>
        </span>
      </a>
    </td>
    <td>{{ .Name }}</td>
    <td>{{ .Version }}</td>
    <td>{{ if .Rating }} {{ .Rating }} {{ end }}</td>
  </tr>
{{ end }}
{{ range .IosApps }}
  <tr>
    <td>
      <span class="icon is-medium is-left">
        <i class="fab fa-apple fa-lg"></i>
      </span>
    </td>
    <td>
      <figure class="image is-32x32">
        <img class="is-rounded" src="{{ .ImageSrc }}">
      </figure>
    </td>
    <td>
      <a href="{{ .Url }}" class="has-text-dark">
        {{ .Id }} 
        <span class="icon is-small">
          <i class="fas fa-external-link-alt"></i>
        </span>
      </a>
    </td>
    <td>{{ .Name }}</td>
    <td>{{ .Version }}</td>
    <td>{{ if .Rating }} {{ .Rating }} {{ end }}</td>
  </tr>
{{ end }}
{{ end }}
