name: Integration Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "0 7 * * 1-5"

jobs:
  integration-tests-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go test -timeout 30s -v -run TestAndroidAppInfo github.com/StefMa/AppVersions/usecase

  integration-tests-ios:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go test -timeout 30s -v -run TestIosAppInfo github.com/StefMa/AppVersions/usecase   
